.red-card {
    color: #b82525;
}

.green-card {
    color: #259c25;
}

.blue-card {
    color: #2d47cc;
}

.black-card {
    color: #2d2f3b;
}

.special-card {
    color: goldenrod;
}

.card {
    border: 3px solid #0f0f0f;
    border-radius: 0.5em;
    min-height: 1.5em;
    margin: 1rem 0 0 1rem;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    padding: .5rem;
    font-size: 30px;
    position: absolute;
    width: 20px;
    height: 60px;
    background: #e4d3ef;
}
