.red-card {
    color: #b82525;
}

.green-card {
    color: #259c25;
}

.blue-card {
    color: #2d47cc;
}

.black-card {
    color: #2d2f3b;
}

.special-card {
    color: goldenrod;
}

.card {
    border: 2px solid #0f0f0f;
    border-radius: 0.6em;
    min-height: 1.5em;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    padding: .5rem;
    font-size: 20px;
    position: absolute;
    width: 20px;
    height: 50px;
    background: #f8f0f0;
}
