<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Interact.js Draggable Example</title>
    <script src="https://cdn.jsdelivr.net/npm/interactjs@1.10.27/dist/interact.min.js"></script>
    <script src="/static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <div id="draggabl" class="draggable" style="width: 50px; height: 50px; background: green;"></div>
    <div id="draggablx" class="draggable" style="width: 50px; height: 50px; background: red;"></div>
    <div id="draggable" class="draggable" style="width: 50px; height: 50px; background: blue;"></div>
</body>
</html>
