<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Interact.js Draggable Example</title>
    <script src="https://cdn.jsdelivr.net/npm/interactjs@1.10.27/dist/interact.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>

    <script src="/static/DecodeCard.js"></script>
    <script src="/static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body onload="startFunction()">
    <form id="rw" action="#" method="POST">
      <input type="submit" value="Info" onclick="javascript:button = 'infodev'">
      <select name="config" id="config">
        <option value="" selected="selected">Select config</option>
      </select>
      <input type="submit" value="Read" onclick="javascript:button = 'readdev'">

      <input type="number" id="value" name="value"
	     min="0" max="1000">
      <input type="submit" value="Write" onclick="javascript:button = 'writedev'">

      <output id="statusrw" for="rw status"></output>
    </form>

</body>
</html>
